{{!-- https://www.w3schools.com/html/html_tables.asp --}}
{{!-- TODO: check the scroll behavior when there are a lot of records --}}
<div style="max-height: 40rem; overflow-y:hidden">
    <table class="table is-fullwidth centered__table is-striped is-narrow">
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Email</th>
            <th>Feedback</th>
            <th>Actions</th>
        </tr>
    {{#each viewData.users}}
    {{#if (eq this.username ../viewData.username)}}
        <tr class="is-selected">
    {{else}}
        <tr>
    {{/if }}
            <td>{{this._id}}</td>
            <td>{{this.username}}</td>
            <td>{{this.email}}</td>
            <td>{{#if this.points}}{{this.points.length}}{{else}}0{{/if}}</td>
            <td class="is-flex is-justify-content-center">
                <a href="/user?userid={{this._id}}" class="button list-button">{{>svg/user-icon }}</a>
                <a href="/user/{{this._id}}/delete" class="button list-button">{{>svg/delete }}</a>
            </td>
        </tr>
    {{/each }}
    </table>
</div>